.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.info-container .left-about {
  padding-right: 5rem;
}

.info-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  padding-left: 0;
  color: var(--color-grey-1);
}

.info-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.about-stats {
  padding-bottom: 4rem;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

/* Skills */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slide img {
  height: 100px;
  width: 250px;
}
/* Skills */

/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
  border-top: 1px solid var(--color-grey-5);
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: var(--color-grey-2);
}
.timeline .timeline-item h5 + p {
  overflow: scroll;
  height: 8rem;
}

@media screen and (max-width: 600px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .info-container .left-about {
    padding-right: 0;
  }

  .info-container .left-about p {
    padding-left: 0;
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 1070px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .info-container .left-about {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}
