.contact-content {
  display: flex;
  padding-top: 3.5rem;
}

.contact-content .left-contact {
  flex: 2;
}

.contact-content .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  color: var(--color-white);
}

.contact-content .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-content .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

.contact-content .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.contact-content .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.contact-content .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}

.contact-content .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}

.contact-content .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}

.contact-content .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}

.contact-content .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.contact-content .right-contact {
  flex: 3;
  margin-left: 3rem;
}

.contact-content .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-content .right-contact .input-control input,
.contact-content .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content .right-contact .i-c-2 {
  display: flex;
}

.contact-content .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

.contact-content .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-content .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .contact-content .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content .right-contact {
    margin-bottom: 6rem;
  }

  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
  }

  .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }

  .contact-item span {
    font-size: 15px;
  }

  .contact-content .left-contact .contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .contact-item .icon {
    grid-template-columns: 25px 1fr;
  }
}

@media screen and (max-width: 1432px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-content .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .contact-content .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content .right-contact {
    margin-bottom: 6rem;
  }

}
