@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-secondary-soft: #27ae6060;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-primary);
  color: var(--color-white);
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

p {
  color: var(--color-black);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.main-title {
  text-align: center;
  font-size: 2.5rem;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  margin-top: -0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 1432px) {
  .main-container {
    padding: 7rem 11rem;
  }

  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1070px) {
  .main-title h2 {
    font-size: 4rem;
  }

  .main-title h2 span {
    font-size: 4rem;
  }

  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .main-container {
    padding: 7rem 6rem;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    padding: 7rem 3rem;
  }

  .main-title h2 {
    font-size: 3rem;
  }

  .main-title h2 span {
    font-size: 3rem;
  }

  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 2rem 2.5rem !important;
  }

  .main-title h2 {
    font-size: 2rem;
  }

  .main-title h2 span {
    font-size: 2.3rem;
  }

  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}
